/* Put your CSS here */
html, body {
    margin: 20px;
}

.post-date{
	display: block;
	margin: -10px 0 10px;
	color: #bbb;
}
.log {
    background-color: black;
    color: #ddd;
    padding: 5px 5px 5px 40px;
    border-radius: 10px;
}

.log a {
	color: #f6f972;
}

.recipe dl, dt, dd {
	display:inline-block;
}

.recipe dd {
	margin-right:10px;
}

.code {
	font-family:monospace;
}

.toolTip{
	border-bottom: 1px dashed #222;
}