.codeComment {
	position:absolute;
	z-index: 10;
	top: 10px;
	right: 1%;
	width:20%;
	background:#ccbdb3;
	border: 1px solid black;
	border-radius:8px;
	height:90%;
	max-height:300px;
	padding:5px;
}

/* overriding from prism.js for starring and bolding */
.line-numbers-rows {
	color: #999;
}

/* overriding from prism.js for starring and bolding */
.line-numbers-rows > span:before {
	content: attr(data-comment) counter(linenumber);
	font-weight: inherit;
	color:inherit;
}

.starredBolded {
	font-weight: 900;
	color: #777;
}

.mouseComment {
	display:none;
}

.codeContainer pre{
	padding-right:22%;
	white-space:nowrap;
	overflow-wrap:normal;
	overflow-y:hidden;
	padding-bottom:25px;
	
}



.codeContainer{
	position:relative;
	overflow-y:scroll;
}


.line-highlight {
	display:none;
}
