.codeComment {
	position:absolute;
	z-index: 10;
	top: 3%;
	right: 1%;
	width:20%;
	background:#ccbdb3;
	border: 1px solid black;
	border-radius:8px;
	height:94%;
	max-height:300px;
}

.codeContainer pre{
	padding-right:22%;
	white-space:nowrap;
	overflow-wrap:normal;
}



.codeContainer{
	position:relative;
}
