<link rel="stylesheet" href="css/about.css"/>

<div id="main" class="container">
<img src="images/Large_profile.jpg" class="profile"/>
	<p>
		This about page is a work in progress.
	</p>
	<p>
		<a href="https://github.com/kjlubick">GitHub profile</a>
		<br/>
		<a href="http://osrc.dfm.io/kjlubick/">My Open Source Report Card</a>
	</p>

	<p style="clear:both"><h3>Publications</h3>
	<ul class="list-unstyled">
	<li><b>How Developers Visualize Compiler Messages: A Foundational Approach to Notification Construction</b>
Titus Barik, <u>Kevin Lubick</u>, Samuel Christie, Emerson Murphy-Hill. 2nd IEEE Working Conference on Software Visualization, 2014 <a href="pubs/Vissoft2014-How_Developers_Visualize_Compiler_Messages.pdf">(local)</a></li>
<li><b>Reduced Gravity De-gassing of Perfluorohexane Coolant Using a Radial Membrane Contactor</b>
Danielle Weiland, Eli Favela, Amelia Gear, <u>Kevin Lubick</u>, Steven Mathe, John Robinson, Seth Schofield, Kevin Crosby, Nancy Hall, American Society for Gravitational and Space Research, 2013</li>

<li><b>Modal Evaluation of Fluid Volume in Spacecraft Propellant Tanks</b> Steven Mathe, KelliAnn Anderson, Amber Bakkum, <u>Kevin Lubick</u>, John Robinson, Danielle Weiland, Rudy Werlink, Kevin M. Crosby, Proceedings of the Wisconsin Space Grant, 2012 <a href="pubs/2012_WSGproceedings-Modal_Evaluation_of_Fluid_Volume_in_Spacecraft_Propellant_Tanks.pdf">(local)</a></li>
	</ul>
	</p>
</div>