 <div class="container theme-showcase" role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Hello!</h1>
            <p>My name is Kevin Lubick.  I am a PhD student at NCSU, working in <a href="http://research.csc.ncsu.edu/dlf/">The Developer Liberation Front</a>, which focuses on Software Engineering.</p>
        </div>

        <div class="page-header">
            <h1>Projects</h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Social Screencasting</h3>
            </div>
            <div class="panel-body">
                This is my current research at NCSU.  My advisor proposed the idea in the <a href="http://people.engr.ncsu.edu/ermurph3/papers/icseNIER12.pdf">2012 ICSE NIER track</a>.
                Basically, we aim to automatically generate screencasts of users using tools (like "Refactor-Rename" in Eclipse, or "COUNTIF" from Excel) and recommend these screencasts to their coworkers.
                Watching someone work is a very effective way to learn, so we hope this method proves effective at disseminating knowledge.
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">FindBugs</h3>
            </div>
            <div class="panel-body">
                One of my side projects is a plugin for <a href="http://findbugs.sourceforge.net/">FindBugs</a>, a Java static analysis tool.
                I have <a href="https://github.com/kjlubick/fb-contrib">forked</a> <a href="https://github.com/mebigfatguy/fb-contrib">fb-contrib</a> to experiment with some new detectors and to play with the messages.
                My co-workers' <a href="http://people.engr.ncsu.edu/ermurph3/papers/icse13b.pdf">research</a> has shown that one reason static analysis tools aren't used is because of their unapproachable language.
                My fork aims to add better messages that include details of how to fix the problem.
                Furthermore, I enjoy making detectors of bugs that take me a really long time to track down.
                Two of note: [Hanging Executors](https://github.com/mebigfatguy/fb-contrib/blob/master/src/com/mebigfatguy/fbcontrib/detect/HangingExecutors.java) and [Http Client Problems](https://github.com/mebigfatguy/fb-contrib/blob/master/src/com/mebigfatguy/fbcontrib/detect/HttpClientProblems.java).
            </div>
        </div>
		<div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">TuxBlocks</h3>
            </div>
            <div class="panel-body">
                For one of my classes this semester (Spring 2014), I took Game Based Learning and was invited to help out with a tower defense game called <a href="http://tux-blocks.appspot.com/">TuxBlocks</a> which aims to make practicing algebra fun.
                Thomas and I have been working on extending the game to include a story mode which would teach and mentor algebra, not just be a supervised practice.
                That repo is on <a href="https://github.com/thomaswp/tuxblocks">GitHub</a> and was originally created during the 2013 Google Summer of Code.
                I'm really excited with making the game smart, that is, having a student model that can customize the experience to the student, optimizing engagement and learning gains.
            </div>
        </div>
        

    </div>